fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-google-community
langgraph
neo4j
chromadb
beautifulsoup4
requests
python-dotenv
tiktoken
pydantic
numpy
pandas
duckduckgo-search<6.0.0
langchain-chroma
langchain-text-splitters
